apiVersion: 1

datasources:
  # Prometheus for metrics
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false

  # ClickHouse for logs (DEFAULT)
  - name: ClickHouse
    type: grafana-clickhouse-datasource
    access: proxy
    url: http://clickhouse:8123
    jsonData:
      defaultDatabase: logs
    editable: false

  # Loki for logs (ALTERNATIVE - when using --profile loki)
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: false

  # Jaeger for traces
  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://jaeger:16686
    editable: false
