service: nest-serverless-api

frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  memorySize: 512
  timeout: 15
  environment:
    NODE_OPTIONS: "--enable-source-maps"

plugins:
  - serverless-offline

package:
  individually: false
  patterns:
    - dist/**
    - node_modules/**

functions:
  http:
    handler: dist/lambda.handler
    events:
      - httpApi:
          path: /{proxy+}
          method: any
